.login-container {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #f5f5f5;
}

.login-form {

  width: 350px;

  background: white;

  padding: 30px;

  border-radius: 10px;

  box-shadow:
    0 0 10px rgba(0,0,0,0.1);
}

.login-form h2 {

  text-align: center;
  margin-bottom: 20px;
}

.login-form input {

  width: 100%;

  padding: 12px;

  margin-bottom: 15px;

  border: 1px solid #ccc;

  outline: none;
}

.login-form button {

  width: 100%;

  padding: 12px;

  background: #0d6efd;

  color: white;

  border: none;

  cursor: pointer;
}

.login-form p {

  text-align: center;

  margin-top: 15px;
}

.login-form a {

  margin-left: 5px;

  text-decoration: none;
}